html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root{
    --color: rgb(202, 202, 202);
    --primary: hsla(39, 100%, 50%, 0.37);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    background: radial-gradient(rgba(209, 151, 85, 0.719), rgb(216, 151, 98));
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


#calculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(10px, 2vw, 15px);
    width: clamp(300px, 40vw, 400px);
    align-items: center;
    padding: clamp(15px, 2vw, 20px);
    border-radius: 20px;
    background-color: hsla(200, 15%, 10%, 0.9);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.3);
}

#display{
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    text-align: end;
    padding: 10px 15px;
    background-color: hsla(191, 16%, 25%, 0.5);
    border-radius: 0.25em;
}

#display-current{
    font-size: clamp(2.5rem, 5vw, 3rem); 
    min-height: clamp(3.5rem, 7vw, 4rem); 
    display: flex;
    justify-content: end;
    align-items: end;
    word-wrap: break-word;
    word-break: break-all;
}

#display-prev{
    font-size: clamp(0.8rem, 5vw, 1.1rem); 
    min-height: clamp(1rem, 7vw, 1.5rem); 
    word-wrap: break-word;
    word-break: break-all;
}

#calculator button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    color: inherit;
    font-size: inherit;
    background-color: hsla(
        var(--hue, 192),
        var(--saturation, 15%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 25%)),
        0.5);
    border: none;
    cursor: pointer;
}

#calculator button:hover{
    --lightness-offset: 10%;
}

#calculator button:active{
    --lightness-offset: -1%;
}

#calculator button[data-delete],
#calculator button[data-clear],
#calculator button[data-equal]{
    --hue: 39;
    --saturation: 70%;
    --lightness: 50%;
}

#calculator button[data-operator]{
    border: solid thin rgba(255, 166, 0, 0.37);
}

#calculator button[data-equal]{
    grid-column: span 2;

}